@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #0a0e1a;
  color: #f1ecfa;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container-center {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding: 0 100px 60px 100px;
}

@media screen and (max-width: 1300px) {
  .container-center {
    padding: 0 40px 60px 40px;
  }
}

@media screen and (max-width: 768px) {
  .container-center {
    padding: 0 20px 40px 20px;
  }
}
